
.host .listagem {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;  
    max-width: 600px;
	margin: 0 auto;
    padding: 20px 0;
	box-sizing: border-box;
}

.host .listagem .pokemon {
    position: relative;
    display: flex;
    background: #FFF;

    width: calc(49% - 2.5rem);
    height: calc(157px - 40px);

    margin-bottom: 10px;
    padding: 20px;

    border-radius: 10px;

    text-decoration: none;
    color: #262835;
}

.host .listagem .pokemon .pokemon-status h2 {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;

    margin-bottom: 10px;
    text-transform: capitalize;
}

.host .listagem .pokemon .pokemon-status ul {
    display: flex;
    flex-direction: column;
}

.host .listagem .pokemon .pokemon-status ul li {
    background: #EFEFEF;
    font-size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;

    width: 60px;
    margin-bottom: 5px;
}

.host .listagem .pokemon .pokemon-image {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    width: 110px;

    right: 20px;
    bottom: 20px;

    background: url('../../assets/bg/backgroung-list-pokemons.svg') no-repeat;
}

.host .listagem .pokemon .pokemon-image img {
    width: 60px;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.btns .btn_page {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #FF5473;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    text-transform: uppercase;
}

.btns .btn_page:hover {
    background-color: #ff5473dc;
}

.btns .btn_page:active {
    background-color: #ff234b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
